* {
	/*outline: 1px solid red;*/
}

body {
	margin: 0;
    font-family: 'Helvetica', sans-serif;
}

.container {
    max-width: 960px;
    padding: 0 5px;
    margin: 0 auto;	
	width: 90%;
}

.window {
	border: 2px #2980b9 solid;
}

.header {
    margin: 0;
    height: 100px;
    color: #ecf0f1;
	padding: 1px;
	background: #2980b9;
    text-shadow: 1px 1px 1px rgba(1,1,1,0.3);
}

.header small {
	text-shadow: 1px 1px 1px rgba(1,1,1,0.1);

}

.header h2 {
    font-size: 2.80rem;
    position: relative;
    left: 15px;
    bottom: 14px;
}

.text-header {
	color: #95A5A6;
	margin-left: 10px;
}

small {
	font-size: .75rem;
}

.todo-input {
    margin: 0 auto;
}

.todo-input input {
    height: 35px;
    width: 300px;
    position: relative;
    left: 286px;
    top: 25px;
    font-size: 20px;
    padding-left: 15px;
}

.todo-input button {
    position: relative;
    height: 41px;
    left: 606px;
    width: 60px;
    bottom: 16px;
    border: 1px solid #333;
    line-height: 2.5rem;
    padding: 0 1rem;
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;    
}

.todo-input button:hover {
	background-color: #E5E7E9;
}

hr {
	width: 920px;
}

.todo-container--list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 75px;
}

.todo-container--checkbox {
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 17px;
    -moz-user-select: none;
    -ms-user-select: none;
}

.todo-container--checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.todo-container--label {
	position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
}

.todo-container--checkbox input:checked ~ .todo-container--label {
    background-color: #2980b9;
}

.todo-container--label:after {
    content: "";
    position: absolute;
    display: none;
}

.todo-container--checkbox input:checked ~ .todo-container--label:after {
    display: block;
}

.todo-container--checkbox .todo-container--label:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.todo-container--label2 {
    position: relative;
    left: 40px;
    top: 3px;
}

.todo-container--list i {
	position: relative;
    right: 40px;
    top: 17px;
    color: red;
    cursor: pointer;
}

.todo-container--list i:hover {
    opacity: 0.5;

}